mixin userName()
  div
    form(action='/room/#{roomNumber}',method='post')
      div(data-role='fieldcontain')
        fieldset(data-role='controlgroup')
          label(for='newUserName') User Name:
          input(id='newUserName',type='text', value='#{userName}' name='userName')
      div(data-role='fieldcontain')
        fieldset(data-role='controlgroup')
          label(for='content') content:
          input(id='content',type='content',value='',placeholder='',name='content')
      div(data-role='fieldcontain')
        input(type='submit',value='Send',data-transition='fade', data-theme='c')
